<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add name="Casa" connectionString="HySNcMePDs8Ejlg407nQe6gBubK9Ky/FettfFQwdZM9Nq8KvIzM2Ip2mXUg1snkPPatDUVOp6hnczqFCy4WgAtTxGJWF+GMC3DBLCJkBTyg="
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>