<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <remove name="LocalMySqlServer" />
        <add name="asdasd" connectionString="TGSQ4yjq21xvUUaDelgirUEAhBbL3HDH4sEQEeFT80CKo3bBgMd25iaya9Qnuv+nIWgs2UYm1Imd5wCv625spEp2nS9PHIWVXtN4ZneLKdA="
            providerName="MySql.Data.MySqlClient" />
        <add name="asd" connectionString="TGSQ4yjq21xvUUaDelgirUEAhBbL3HDH4sEQEeFT80CynfwGYl88Czuk7EiJFxJrTV/Z5wZQVGo2tkhAs/i2sMGtqtYYu9Hc0YVu75lG9LM="
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>